/* @search-bg: #80639b;
@search-button: #c58ade;
@favorites-bg: #f7db70;
@favorites-button: #feb25e; */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;700;900&display=swap');

:root {
  --search-bg: #80639b;
  --search-button: #c58ade;
  --favorites-bg: #f7db70;
  --favorites-button: #feb25e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: 'Titillium Web', sans-serif;
}

html {
  font-size: 625%;
}

/* div {
  border: 1px solid white;
} */

.container {
  /* background-color: black; */
  background-color: var(--search-bg);
  color: white;
  font-size: 25%;
}

/* .subcontainer {
  background-color: white;
} */

.user-account {
  /* background-color: darkgray; */
  background-color: black;
  padding: 0.2em;
  grid-auto-flow: column;
  
  /* align-items: flex-end; */
  justify-content: end;
  align-items: center;

  display: grid;
  /* grid-template-columns: 1fr auto auto auto;
  grid-template-rows: 1fr 1fr; */
  gap: 0px 1em;
  /* grid-auto-flow: row;
  grid-template-areas:
    "leftside username userimage userlogoff"
    "leftside useremail userimage userlogoff";
  align-items: center; */
}
.user-account > div {
  text-align: end;
}
.userLogoffButton {
  border-radius: 100;
}
/* .leftside { grid-area: leftside; }
.userimage { grid-area: userimage; }
.username { grid-area: username; }
.useremail { grid-area: useremail; }
.userlogoff { grid-area: userlogoff; }
.userlogoff > button {
  border-radius: 100px;
} */


.profile-picture {
  border-radius: 100%;
  height: 2em;
}

.filter {
  /* background-color: darkgray; */
  background-color: var(--search-bg);
  text-align: end;
}

.tabs {
  background-color: var(--search-bg);
  margin-left: 0.5em;
}

.tabs > button.active {
  background-color: var(--search-button);
  color: white;
}

.editor {
  overflow-y: auto;
}

.tab-content {
  overflow-y: scroll;
}

@media (max-width: 960px) {
  .tab-content {
    overflow-y: visible;
  }
}

.tab-content > div {
  /* background-color: darkgray; */
  background-color: var(--favorites-bg);
}

.tab-content.blue-bg > div {
  background-color: var(--search-bg);
}

.tab-content > div > div {
  margin: 0.5em;
  background-color: white;
  border-radius: 0.7em;
  padding: 0.7em;
}

.tab-content > div > div.open {
  height: 200px;
}

.tab-content-options {
  /* background-color: darkgray; */
  background-color: var(--favorites-bg);
}

.tab-content-options.blue-bg {
  background-color: var(--search-bg);
}

/* -------------------------------------------------------------------------------------- */

.other-button {
  border-radius: 100px;
  background-color: black;
  color: white;
}

button, input {
  font-size: 0.8em;
  font-weight: bold;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

button {
  /* height: 100%; */
  height: 2em;

  margin-left: 0.1em;
  margin-right: 0.1em;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  /* border-top-left-radius: 100%;
  border-top-right-radius: 100%; */

  /* border: solid black 3px; */
  border: hidden;
}

input {
  height: 2.5em;
  border: hidden;
  border-radius: 0.7em;
  margin: 0.5em;
}

.input-filter {
  width: 20em;
  background-color: rgba(255, 255, 255, 0.5);
}

/* button.active {
  color: white;
  background-color: darkgray;
} */