/* @search-bg: #80639b;
@search-button: #c58ade;
@favorites-bg: #f7db70;
@favorites-button: #feb25e; */

:root {
  --search-bg: #80639b;
  --search-button: #c58ade;
  --favorites-bg: #f7db70;
  --favorites-button: #feb25e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

html {
  font-size: 625%;
}

/* div {
  border: 1px solid white;
} */

.container {
  background-color: black;
  color: white;
  font-size: 25%;
}

/* .subcontainer {
  background-color: white;
} */

.user-account {
  /* background-color: darkgray; */
  padding: 1em;
}

.filter {
  /* background-color: darkgray; */
  background-color: var(--search-bg);
  text-align: end;
}

.result-tabs {
  background-color: var(--search-bg);
}

.result-tabs > button.active {
  background-color: var(--search-button);
  color: white;
}

.favorite-tabs {
  background-color: var(--favorites-bg);
}

.favorite-tabs > button.active {
  background-color: var(--favorites-button);
}

.editor {
  overflow-y: auto;
}

.tab-content {
  overflow-y: scroll;
}

@media (max-width: 960px) {
  .tab-content {
    overflow-y: visible;
  }
}

.tab-content > div {
  /* background-color: darkgray; */
  background-color: var(--favorites-bg);
}

.tab-content.blue-bg > div {
  background-color: var(--search-bg);
}

.tab-content > div > div {
  margin: 0.5em;
  background-color: white;
  border-radius: 0.7em;
  padding: 0.7em;
}

.tab-content > div > div.open {
  height: 200px;
}

.tab-content-options {
  /* background-color: darkgray; */
  background-color: var(--favorites-bg);
}

.tab-content-options.blue-bg {
  background-color: var(--search-bg);
}

/* -------------------------------------------------------------------------------------- */

.other-button {
  border-radius: 100px;
  background-color: black;
  color: white;
}

button,
input {
  font-size: 0.8em;
  font-weight: bold;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

button {
  /* height: 100%; */
  height: 2em;

  margin-left: 0.3em;
  margin-right: 0.3em;

  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

input {
  height: 2.5em;
}

.input-filter {
  width: 20em;
  background-color: rgba(255, 255, 255, 0.5);
}

/* button.active {
  color: white;
  background-color: darkgray;
} */